<div style="background: #FFFFFF; padding: 5px 18px 5px 18px;">
    <table style="width: 100%; table-layout: fixed">
        <tr>
            <td style="font-size: 10px;">©2022 FUTURESTHRIVE, LTD. All rights reserved</td>
            <td style="font-size: 10px; text-align: center;">{page}</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>