body {
	transform: scale(.4);
}

.e3_152 { 
	overflow:hidden;
}
.e3_152 { 
	width:2400px;
	height:3000px;
	position:absolute;
}
.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:2400px;
	height:3000px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_122 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:60px;
	position:absolute;
	left:1191px;
	top:2920px;
	font-family:Castoro;
	text-align:right;
	font-size:48px;
	letter-spacing:0;
}
.e3_100 { 
	width:2303px;
	height:550px;
	position:absolute;
	left:48px;
	top:2345px;
}
.e3_99 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 239.00000095367432, 239.00000095367432, 1);
	width:2303px;
	height:550px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 24px;
}
.e3_99 { 
	border: 1px solid rgba(0, 0, 0, 1);
}
.e3_98 { 
	width:1171px;
	height:266px;
	position:absolute;
	left:1056px;
	top:160px;
}
.e3_97 { 
	color:rgba(0, 0, 0, 1);
	width:1171px;
	height:128px;
	position:absolute;
	left:0px;
	top:138px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_96 { 
	color:rgba(0, 0, 0, 1);
	width:1171px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_87 { 
	width:808px;
	height:335px;
	position:absolute;
	left:56px;
	top:160px;
}
.e3_90 { 
	color:rgba(0, 0, 0, 1);
	width:540px;
	height:59px;
	position:absolute;
	left:0px;
	top:276px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_91 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:59px;
	position:absolute;
	left:0px;
	top:207px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_92 { 
	color:rgba(0, 0, 0, 1);
	width:808px;
	height:59px;
	position:absolute;
	left:0px;
	top:138px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_93 { 
	color:rgba(0, 0, 0, 1);
	width:795px;
	height:59px;
	position:absolute;
	left:0px;
	top:69px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_94 { 
	color:rgba(0, 0, 0, 1);
	width:763px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_83 { 
	width:1611px;
	height:104px;
	position:absolute;
	left:347px;
	top:40px;
}
.e3_82 { 
	color:rgba(131.00000739097595, 164.00000542402267, 123.0000002682209, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:1358px;
	top:0px;
	font-family:Calibri;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e3_80 { 
	width:1611px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_80_3_32 { 
	color:rgba(131.00000739097595, 164.00000542402267, 123.0000002682209, 1);
	width:1106px;
	height:104px;
	position:absolute;
	left:252px;
	top:0px;
	font-family:Calibri;
	text-align:center;
	font-size:85px;
	letter-spacing:0;
}
.e3_86 { 
	width:2303px;
	height:1110px;
	position:absolute;
	left:48px;
	top:1176px;
}
.e3_84 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 239.00000095367432, 239.00000095367432, 1);
	width:2303px;
	height:1110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e3_84 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_76 { 
	width:1171px;
	height:568px;
	position:absolute;
	left:1056px;
	top:466px;
}
.e3_75 { 
	width:1171px;
	height:320px;
	position:absolute;
	left:0px;
	top:248px;
}
.e3_74 { 
	width:1087px;
	height:182px;
	position:absolute;
	left:84px;
	top:138px;
}
.e3_70 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_70 { 
	width:920px;
	height:0px;
	position:absolute;
	left:165.972900390625px;
	top:64px;
}
.e3_71 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:59px;
	position:absolute;
	left:2px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_72 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_72 { 
	width:1087px;
	height:0px;
	position:absolute;
	left:0px;
	top:182px;
}
.e3_73 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_73 { 
	width:1087px;
	height:0px;
	position:absolute;
	left:0px;
	top:123px;
}
.e3_67 { 
	color:rgba(0, 0, 0, 1);
	width:1171px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_65 { 
	color:rgba(0, 0, 0, 1);
	width:1171px;
	height:128px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_56 { 
	color:rgba(0, 0, 0, 1);
	width:487px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e3_64 { 
	width:907px;
	height:583px;
	position:absolute;
	left:56px;
	top:466px;
}
.e3_61 { 
	color:rgba(0, 0, 0, 1);
	width:381px;
	height:59px;
	position:absolute;
	left:0px;
	top:524px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_62 { 
	color:rgba(0, 0, 0, 1);
	width:577px;
	height:59px;
	position:absolute;
	left:0px;
	top:455px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_63 { 
	color:rgba(0, 0, 0, 1);
	width:697px;
	height:59px;
	position:absolute;
	left:0px;
	top:386px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_57 { 
	color:rgba(0, 0, 0, 1);
	width:749px;
	height:59px;
	position:absolute;
	left:0px;
	top:317px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_60 { 
	color:rgba(0, 0, 0, 1);
	width:907px;
	height:59px;
	position:absolute;
	left:0px;
	top:248px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_59 { 
	color:rgba(0, 0, 0, 1);
	width:824px;
	height:59px;
	position:absolute;
	left:0px;
	top:179px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_58 { 
	color:rgba(0, 0, 0, 1);
	width:695px;
	height:59px;
	position:absolute;
	left:0px;
	top:110px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_55 { 
	color:rgba(0, 0, 0, 1);
	width:715px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e3_45 { 
	width:2194px;
	height:242px;
	position:absolute;
	left:32px;
	top:171px;
}
.e3_54 { 
	width:471px;
	height:242px;
	position:absolute;
	left:1723px;
	top:0px;
}
.e3_51 { 
	width:461px;
	height:59px;
	position:absolute;
	left:7px;
	top:183px;
}
.e3_52 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:180px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_53 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_53 { 
	width:150px;
	height:0px;
	position:absolute;
	left:311px;
	top:50.5px;
}
.e3_48 { 
	width:461px;
	height:59px;
	position:absolute;
	left:7px;
	top:87px;
}
.e3_49 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:297px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_50 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_50 { 
	width:150px;
	height:0px;
	position:absolute;
	left:311px;
	top:50.5px;
}
.e3_46 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:471px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:center;
	font-size:52px;
	letter-spacing:0;
}
.e3_39 { 
	width:1579px;
	height:59px;
	position:absolute;
	left:1px;
	top:168px;
}
.e3_44 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_44 { 
	width:900px;
	height:0px;
	position:absolute;
	left:679px;
	top:59px;
}
.e3_43 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:59px;
	position:absolute;
	left:502px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_41 { 
	width:125px;
	height:0px;
	position:absolute;
	left:337px;
	top:59px;
}
.e3_40 { 
	color:rgba(0, 0, 0, 1);
	width:315px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_36 { 
	width:416.5684814453125px;
	height:59px;
	position:absolute;
	left:1160px;
	top:72px;
}
.e3_37 { 
	color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_38 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_38 { 
	width:150px;
	height:0px;
	position:absolute;
	left:266.5684814453125px;
	top:50.5px;
}
.e3_33 { 
	width:1135px;
	height:59px;
	position:absolute;
	left:0px;
	top:72px;
}
.e3_34 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_35 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_35 { 
	width:900px;
	height:0px;
	position:absolute;
	left:235px;
	top:59px;
}
.e3_78 { 
	width:1611px;
	height:104px;
	position:absolute;
	left:347px;
	top:40px;
}
.ei3_78_3_32 { 
	color:rgba(131.00000739097595, 164.00000542402267, 123.0000002682209, 1);
	width:1611px;
	height:104px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:center;
	font-size:85px;
	letter-spacing:0;
}
.e3_31 { 
	color:rgba(0, 0, 0, 1);
	width:2250px;
	height:242px;
	position:absolute;
	left:75px;
	top:887px;
	font-family:Calibri;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e3_29 { 
	color:rgba(0, 0, 0, 1);
	width:776px;
	height:117px;
	position:absolute;
	left:812px;
	top:758px;
	font-family:Calibri;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e217_23 { 
	width:2250px;
	height:218px;
	position:absolute;
	left:75px;
	top:445px;
}
.ei217_23_3_23 { 
	width:655px;
	height:88px;
	position:absolute;
	left:632px;
	top:130px;
}
.ei217_23_3_15 { 
	color:rgba(0, 0, 0, 1);
	width:392px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.i217_23_3_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei217_23_3_22 { 
	width:250px;
	height:0px;
	position:absolute;
	left:405px;
	top:88px;
}
.ei217_23_3_24 { 
	width:470px;
	height:88px;
	position:absolute;
	left:117px;
	top:130px;
}
.ei217_23_3_25 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.ei217_23_3_26 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:250px;
	height:0px;
	position:absolute;
	left:220px;
	top:88px;
}
.i217_23_3_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei217_23_3_19 { 
	width:828.588134765625px;
	height:98px;
	position:absolute;
	left:1327px;
	top:0px;
}
.ei217_23_3_13 { 
	color:rgba(0, 0, 0, 1);
	width:553.3285522460938px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.i217_23_3_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei217_23_3_18 { 
	width:250px;
	height:0px;
	position:absolute;
	left:578.588134765625px;
	top:98px;
}
.ei217_23_3_27 { 
	width:1169.9957275390625px;
	height:98px;
	position:absolute;
	left:117px;
	top:0px;
}
.ei217_23_3_12 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.i217_23_3_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei217_23_3_17 { 
	width:950px;
	height:0px;
	position:absolute;
	left:219.99569702148438px;
	top:98px;
}
.e3_11 { 
	width:1475px;
	height:250px;
	position:absolute;
	left:607px;
	top:145px;
}
.e2_5 { 
	color:rgba(131.00000739097595, 164.00000542402267, 123.0000002682209, 1);
	width:1196px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Castoro;
	text-align:left;
	font-size:200px;
	letter-spacing:0;
}
.e3_10 { 
	width:258px;
	height:142px;
	position:absolute;
	left:1217px;
	top:1px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_4 { 
	width:440px;
	height:208px;
	position:absolute;
	left:83px;
	top:46px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
