/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /*background: #05386B;*/
    background: #ffffff;
}

strong {
    font-weight: bold;
}

/*@page {*/
/*    size: A4;*/
/*    margin: 0;*/
/*}*/
/*@media print {*/
/*    html, body {*/
/*        width: 210mm;*/
/*        height: 297mm;*/
/*    }*/
/*}*/

div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}

div.page-footer {
    background: #ffffff;
    /*width: 816px;*/
    height: 28px;
    margin: 0 auto;
    padding: 5px;
}

/**
    Structure Classes
 */

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto;
}

.gap-24 { gap: 0px 24px; }

.col-1 { grid-column: span 1 / span 1; }
.col-2 { grid-column: span 2 / span 2; }
.col-3 { grid-column: span 3 / span 3; }
.col-4 { grid-column: span 4 / span 4; }
.col-5 { grid-column: span 5 / span 5; }
.col-6 { grid-column: span 6 / span 6; }
.col-7 { grid-column: span 7 / span 7; }
.col-8 { grid-column: span 8 / span 8; }
.col-9 { grid-column: span 9 / span 9; }
.col-10 { grid-column: span 10 / span 10; }
.col-11 { grid-column: span 11 / span 11; }
.col-12 { grid-column: span 12 / span 12; }

.col-end-1 { grid-column-end: 1 }
.col-end-2 { grid-column-end: 2 }
.col-end-3 { grid-column-end: 3 }
.col-end-4 { grid-column-end: 4 }
.col-end-5 { grid-column-end: 5 }
.col-end-6 { grid-column-end: 6 }
.col-end-7 { grid-column-end: 7 }
.col-end-8 { grid-column-end: 8 }
.col-end-9 { grid-column-end: 9 }
.col-end-10 { grid-column-end: 10 }
.col-end-11 { grid-column-end: 11 }
.col-end-11 { grid-column-end: 12 }
.col-end-auto { grid-column-end: auto }

ul {
    padding: 0;
    margin: 0; 
}

ul li {
    list-style: none;
    padding-bottom: 4px;
}

/**
    Fonts
    Uses vertical rhythm forth (1.333) scale
 */

html, body {
    font: 16px/1.4 'Arial';
}

h1 {
    font-size: 3.19em;
    line-height: 1.29em;
    padding-top: 0.314em;
    margin-bottom: 0.118em;
}

h2 {
    font-size: 2.38em;
    line-height: 1.16em;
    padding-top: 0.237em;
    margin-bottom: 0.342em;
}

h3 {
    font-size: 1.75em;
    line-height: 1.57em;
    padding-top: 0.429em;
    margin-bottom: 0.357em;
}

h4 {
    font-size: 1.31em;
    line-height: 1.05em;
    padding-top: 0.190em;
    margin-bottom: 0.857em;
}

p {
    font-size: 1.00em;
    line-height: 1.38em;
    padding-top: 0.375em;
    margin-bottom: 1.00em;
}

/**
    Template Classes
 */

section {
    margin-bottom: 24px;
}

div.page-wrapper {
    font-family: Calibri, Verdana, serif;
    background: #FFFFFF;
    /*width: 960px;*/
    /*padding: 24px;*/
    margin: 0 auto;
}

div.field {
    display: flex;
}

.field-name {
    width: auto;
    font-weight: bold;
    margin-right: 4px;

    font-size: 1.00em;
    line-height: 1.38em;
    padding-top: 0.375em;
    margin-bottom: 1em;
}

.field-value {
    flex: 1;
    
    font-size: 1.00em;
    line-height: 1.38em;
    padding-top: 0.375em;
    margin-bottom: 1em;
}

.boundary, .rrd {
    background: #F0EFEF;
    border-radius: 5px;
    border: solid 1px #999;
    padding: 8px;
}

.boundary h3 {
    color: #83A47B;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 12px;
}

.grid-gap-x-24 {
    column-gap: 24px;
}

.rrd h3 {
    color: #253D93;
    text-align: left;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.secondary {
    color: #83A47B;
}

.accent {
    color: #253D93;
}

.spacer {
    margin-bottom: 24px;
}

.debug {
    min-height: 24px;
    border: 1px dashed red;
}
.flags{ 
    display: flex;
}

.flag {
    padding: 8px;
    margin-right: 8px;
    font-size: 32px;
}

.line {
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 1px, transparent 0px);*/
    /*background-size: 100% 22px;*/
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.lines {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    background-size: 100% 22px;
}

.lines::before {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    width: 900px;
    border-top:4px solid #F0EFEF;
}