[Unit]
Description=Tweenscreen API Workers
PartOf=workers.target

[Service]
WorkingDirectory=/home/tws_api_worker/triggered/TwsApi.Webjobs
ExecStart=/usr/bin/dotnet TweenScreen.Functions.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-tws-api-worker
User=tws_api_worker
Group=workers
EnvironmentFile=/home/tws_api_worker/.bash_profile

[Install]
WantedBy=multi-user.target