@using RazorLight
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./reports-page-3.css">
</head>

<body>
    <div class=e392_37>
        <div class="e2_3"></div><span class="e3_123">2</span>
        <div class=e3_284>
            <div class="e3_151"></div><span class="e3_146">Suicidality</span><span class="e3_145">ADHD</span><span
                class="e3_150">Shows signs and symptoms.</span><span class="e3_143">Depression</span><span
                class="e3_144">Other Risks Flagged :</span><span class="e3_149">Does not show signs and
                symptoms.</span><span class="e3_142">Anxiety</span>
            <div class=e3_140><span class="ei3_140_3_32">Risks Assessed*</span></div><span class="e4_37">*Response
                details corresponding to these risks are provided in the Risk Response Detail section</span>
        </div>
        <div class=e3_283><span class="e3_137">Child reported they are not currently seeing a mental health
                professional.</span>
            <div class="e3_138"></div>
        </div>
        <div class=e3_101>
            <div class="e3_102"></div>
            <div class=e3_135>
                <div class="e3_134"></div>
                <div class="e3_133"></div><span class="e3_132">Reported strengths, gifts and talents:</span>
            </div>
            <div class=e3_106>
                <div class="e334_40"></div>
                <div class="e3_131"></div>
                <div class="e3_130"></div>
                <div class="e3_129"></div>
                <div class="e3_126"></div><span class="e3_104">Has people age 18+ outside the family they can count
                    on:</span>
                <div class="e3_139"></div><span class="e3_105">Family members they could count on:</span><span
                    class="e3_109">Sees they have adults who maintain family relationships</span><span
                    class="e3_110">Feels they have at least 1 trusted adult who spends time with them</span><span
                    class="e3_111">Feels they have at least 1 trusted adult who listens to them</span>
            </div>
            <div class=e3_112><span class="e3_113">TM</span>
                <div class=e3_114><span class="ei3_114_3_32">Positive Childhood Experiences</span></div>
            </div>
        </div>
        <div class=e3_346>
            <div class=ei3_346_3_119><span class="ei3_346_3_120">for:</span>
                <div class="ei3_346_3_121"></div>
            </div>
            <div class=ei3_346_3_116><span class="ei3_346_3_117">TweenScreen</span>
                <div class="ei3_346_3_118"></div>
            </div>
        </div><span class="e334_41">Yes</span><span class="e334_42">They were reported as:</span>
    </div>
</body>

</html>