<tr>
    <td style="padding: 24px; background: #05386B">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
            <tr>
                <td style="padding:0;width:50%;" align="left">
                    <p style="margin:0; font-size:14px; line-height:16px; font-family: 'Helvetica', 'Arial', sans-serif; color:#c3e6f1;">
                        &reg;FuturesThrive @DateTime.UtcNow.ToString("yyyy")<br/>
                        <a style="color:#9bb9bf; text-decoration:underline;" href="http://">Terms of use</a> |
                        <a style="color:#9bb9bf; text-decoration:underline;" href="http://">Privacy Policy</a>
                    </p>
                </td>
                <td style="padding:0;width:50%;" align="right"></td>
            </tr>
        </table>
    </td>
</tr>