body {
	transform: scale(.4);
}

.e3_297 { 
	overflow:hidden;
}
.e3_297 { 
	width:2400px;
	height:3000px;
	position:absolute;
}
.e3_298 { 
	background-color:rgba(255, 255, 255, 1);
	width:2400px;
	height:3000px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_300 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:60px;
	position:absolute;
	left:1183px;
	top:2920px;
	font-family:Castoro;
	text-align:right;
	font-size:48px;
	letter-spacing:0;
}
.e3_343 { 
	color:rgba(0, 0, 0, 1);
	width:2250px;
	height:150px;
	position:absolute;
	left:104px;
	top:439px;
	font-family:Calibri;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e3_344 { 
	color:rgba(0, 0, 0, 1);
	width:910px;
	height:117px;
	position:absolute;
	left:745px;
	top:310px;
	font-family:Calibri;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e3_353 { 
	width:2163px;
	height:185px;
	position:absolute;
	left:104px;
	top:53px;
}
.ei3_353_3_119 { 
	width:1015px;
	height:88px;
	position:absolute;
	left:1148px;
	top:70px;
}
.ei3_353_3_120 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Calibri;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.i3_353_3_121 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei3_353_3_121 { 
	width:900px;
	height:0px;
	position:absolute;
	left:115px;
	top:84px;
}
.ei3_353_3_116 { 
	width:1032px;
	height:185px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_353_3_117 { 
	color:rgba(131.00000739097595, 164.00000542402267, 123.0000002682209, 1);
	width:861px;
	height:180px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Castoro;
	text-align:left;
	font-size:144px;
	letter-spacing:0;
}
.ei3_353_3_118 { 
	width:149px;
	height:89px;
	position:absolute;
	left:883px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_360 { 
	width:2303px;
	height:384px;
	position:absolute;
	left:49px;
	top:622px;
}
.e3_361 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 239.00000095367432, 239.00000095367432, 1);
	width:2303px;
	height:384px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e3_361 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_363 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:240px;
	height:117px;
	position:absolute;
	left:106px;
	top:21px;
	font-family:Calibri;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e3_364 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:1161px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e3_367 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:105px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_32 { 
	width:2303px;
	height:384px;
	position:absolute;
	left:49px;
	top:1990px;
}
.e4_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 239.00000095367432, 239.00000095367432, 1);
	width:2303px;
	height:384px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e4_33 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_34 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:410px;
	height:117px;
	position:absolute;
	left:106px;
	top:21px;
	font-family:Calibri;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e4_35 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:1161px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_36 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:105px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_27 { 
	width:2303px;
	height:384px;
	position:absolute;
	left:49px;
	top:1534px;
}
.e4_28 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 239.00000095367432, 239.00000095367432, 1);
	width:2303px;
	height:384px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e4_28 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_29 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:446px;
	height:117px;
	position:absolute;
	left:106px;
	top:21px;
	font-family:Calibri;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e4_30 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:1161px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_31 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:105px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_22 { 
	width:2303px;
	height:384px;
	position:absolute;
	left:49px;
	top:1078px;
}
.e4_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.00000089406967, 239.00000095367432, 239.00000095367432, 1);
	width:2303px;
	height:384px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e4_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_24 { 
	color:rgba(37.00000159442425, 61.00000016391277, 147.00000643730164, 1);
	width:304px;
	height:117px;
	position:absolute;
	left:106px;
	top:21px;
	font-family:Calibri;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e4_25 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:1161px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e4_26 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:80px;
	position:absolute;
	left:105px;
	top:120px;
	font-family:Calibri;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
