@using RazorLight
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./reports-page-2.css">
</head>

<body>
    <div class=e3_297>
        <div class="e3_298"></div><span class="e3_300">3</span><span class="e3_343">If signs and symptoms were reported
            for ADHD, anxiety, depression and/or suicidality corresponding details that were also reported by the child
            appear below.</span><span class="e3_344">RISK RESPONSE DETAIL</span>
        <div class=e3_353>
            <div class=ei3_353_3_119><span class="ei3_353_3_120">for:</span>
                <div class="ei3_353_3_121"></div>
            </div>
            <div class=ei3_353_3_116><span class="ei3_353_3_117">TweenScreen</span>
                <div class="ei3_353_3_118"></div>
            </div>
        </div>
        <div class=e3_360>
            <div class="e3_361"></div><span class="e3_363">ADHD</span><span class="e3_364">Answer</span><span
                class="e3_367">Question</span>
        </div>
        <div class=e4_32>
            <div class="e4_33"></div><span class="e4_34">Suicidality</span><span class="e4_35">Answer</span><span
                class="e4_36">Question</span>
        </div>
        <div class=e4_27>
            <div class="e4_28"></div><span class="e4_29">Depression</span><span class="e4_30">Answer</span><span
                class="e4_31">Question</span>
        </div>
        <div class=e4_22>
            <div class="e4_23"></div><span class="e4_24">Anxiety</span><span class="e4_25">Answer</span><span
                class="e4_26">Question</span>
        </div>
    </div>
</body>

</html>