@using RazorLight
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./reports-page-1.css">
</head>

<body>
    <div class=e3_152>
        <div class="e2_2"></div><span class="e3_122">1</span>
        <div class=e3_100>
            <div class="e3_99"></div>
            <div class=e3_98>
                <span class="e3_97">
                    Has a parent who has served time in jail or is in trouble with the
                    law
                </span><span class="e3_96">Lives with someone who drinks excessively or uses illegal drugs</span>
            </div>
            <div class=e3_87>
                <span class="e3_90">Is criticized and/or sworn at</span><span class="e3_91">
                    Has been
                    treated with physical anger
                </span><span class="e3_92">
                    Can’t talk to a trusted adult in their
                    home
                </span><span class="e3_93">Lives with a a seriously ill family member</span><span class="e3_94">Splits their time living between parents</span>
            </div>
            <div class=e3_83>
                <span class="e3_82">TM</span>
                <div class=e3_80><span class="ei3_80_3_32">Adverse Childhood Experiences</span></div>
            </div>
        </div>
        <div class=e3_86>
            <div class="e3_84"></div>
            <div class=e3_76>
                <div class=e3_75>
                    <div class=e3_74>
                        <div class="e3_70"></div><span class="e3_71">Details:</span>
                        <div class="e3_72"></div>
                        <div class="e3_73"></div>
                    </div><span class="e3_67">
                        Has peers that have said/done things that hurt or made them feel
                        bad.
                    </span>
                </div><span class="e3_65">
                    Worries/fears they are being treated differently because of race, skin color,
                    religion or ethnicity
                </span><span class="e3_56">Social Risk Factors:</span>
            </div>
            <div class=e3_64>
                <span class="e3_61">Lives with a smoker</span><span class="e3_62">
                    Lives with someone who
                    yells
                </span><span class="e3_63">Lives with someone who cries often</span><span class="e3_57">
                    Lives
                    with someone who is seriously ill
                </span><span class="e3_60">
                    Lives with a trusted adult who is
                    overwhelmed
                </span><span class="e3_59">Lives with a trusted adult who is often sick</span><span class="e3_58">Has a trusted adult who sleeps a lot</span><span class="e3_55">
                    Environmental Risk
                    Factors:
                </span>
            </div>
            <div class=e3_45>
                <div class=e3_54>
                    <div class=e3_51>
                        <span class="e3_52">Personal:</span>
                        <div class="e3_53"></div>
                    </div>
                    <div class=e3_48>
                        <span class="e3_49">Environmental:</span>
                        <div class="e3_50"></div>
                    </div><span class="e3_46">Protective : Risk Ratio</span>
                </div>
                <div class=e3_39>
                    <div class="e3_44"></div><span class="e3_43">Details:</span>
                    <div class="e3_41"></div><span class="e3_40">Death in Family:</span>
                </div>
                <div class=e3_36>
                    <span class="e3_37"># of Siblings:</span>
                    <div class="e3_38"></div>
                </div>
                <div class=e3_33>
                    <span class="e3_34">Lives with:</span>
                    <div class="e3_35"></div>
                </div>
            </div>
            <div class=e3_78><span class="ei3_78_3_32">Reported Environmental and Personal Factors</span></div>
        </div><span class="e3_31">
            The futuresTHRIVE TweenScreen gathers child reported data about their routines,
            relationships, functioning (school, home and with peers), trauma exposure, family environmental
            risks/disruptions, Adverse Childhood Experiences, and Positive Childhood Experiences. It also gathers signs
            and symptoms of ADHD, anxiety, depression, and suicidality.
        </span><span class="e3_29">SUMMARY REPORT</span>
        <div class=e217_23>
            <div class=ei217_23_3_23>
                <span class="ei217_23_3_15">Date of Birth:</span>
                <div class="ei217_23_3_22"></div>
            </div>
            <div class=ei217_23_3_24>
                <span class="ei217_23_3_25">Grade:</span>
                <div class="ei217_23_3_26"></div>
            </div>
            <div class=ei217_23_3_19>
                <span class="ei217_23_3_13">Assessment Date:</span>
                <div class="ei217_23_3_18"></div>
            </div>
            <div class=ei217_23_3_27>
                <span class="ei217_23_3_12">Name:</span>
                <div class="ei217_23_3_17"></div>
            </div>
        </div>
        <div class=e3_11>
            <span class="e2_5">TweenScreen</span>
            <div class="e3_10"></div>
        </div>
        <div class="e2_4"></div>
    </div>
</body>

</html>